---
import Layout from "../components/Layout.astro";
import { Icon } from "astro-icon";
import Window from "../components/Window.svelte";
import Background from "../components/Background.svelte"
---

<Layout title="Portfolio">
  <Window client:load>
    Hello!<br /><br />
    I'm <span class="text-orange">Janek Winkler</span> a passionate professional
    gameplay and tools engineer who loves to design and develop game-focused applications.
  </Window>

  <Window client:load>
    <ul class="flex flex-col gap-1">
      <li class="flex items-center gap-2 leading-none">
        <Icon class="h-6" pack="mdi" name="github" /><span class="leading-none"
          >Github</span
        >
      </li>
      <li class="flex items-center gap-2 leading-none">
        <Icon class="h-6" pack="mdi" name="email" />Email
      </li>
      <li>Telegram</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </Window>

  <Window client:load>
    <div class="flex flex-row h-full">
      <div class="basis-1/2 flex justify-center">
        <img src="catoffel_mono.svg" />
      </div>
      <div class="bg-orange w-0.5 mx-2 rounded"></div>
      <div class="basis-1/2 flex flex-col justify-center">
        Catoffel <br /> Explorative <br /> Two player PC Game
      </div>
    </div>
  </Window>

  <div style="position: absolute; inset: 0; z-index: -1; overflow: hidden;" id="background">
  </div>
    <Background client:only/>
</Layout>
