---
import Layout from "../components/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Portfolio">
  <div
    class="border-white/20 bg-dark-blue backdrop-blur p-4 text-lg mr-4 md:mr-16 window hover:scale-110 transition-transform"
  >
    Hello!<br /><br />
    I'm <span class="text-orange">Janek Winkler</span> a passionate professional
    gameplay and tools engineer who loves to design and develop game-focused applications.
  </div>

  <div
    class="border-white/20 bg-dark-blue backdrop-blur p-4 text-lg row-span-2 ml-8 md:ml-10 md:my-10 window hover:scale-110 transition-transform"
  >
    <ul class="flex flex-col gap-1">
      <li class="flex items-center gap-2 leading-none">
        <Icon class="h-6" pack="mdi" name="github" /><span class="leading-none"
          >Github</span
        >
      </li>
      <li class="flex items-center gap-2 leading-none">
        <Icon class="h-6" pack="mdi" name="email" />Email
      </li>
      <li>Telegram</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </div>

  <div
    class="border-white/20 bg-dark-blue backdrop-blur p-4 text-lg flex gap-6 md:ml-24 md:my-4 mr-2 window hover:scale-110 transition-transform"
  >
    <div class="basis-1/2 flex justify-center">
      <img src="catoffel_mono.svg" />
    </div>
    <div class="bg-orange w-0.5"></div>
    <div class="basis-1/2 flex flex-col justify-center">
      Catoffel <br /> Explorative <br /> Two player PC Game
    </div>
  </div>
</Layout>
