---
import Layout from "../components/Layout.astro";
import { Icon } from "astro-icon/components";
import Window from "../components/Window.svelte";
// import Background from "../components/Background.svelte"
import NeoTrain from "../components/NeoTrain.astro";
import TheCoffice from "../components/TheCoffice.astro";
import Lizard from "../components/Lizard.svelte";

// <div style="position: absolute; inset: 0; z-index: -1; overflow: hidden;" id="background"> </div>
// <Background client:only/>
---

<Layout title="Portfolio">
  <!-- Primary Windows -->
  <div
    class="col-span-full grid grid-cols-1 lg:grid-cols-[3fr_2fr] gap-10 lg:gap-20 py-12"
  >
    <Window client:load>
      Hello!<br /><br />
      I'm <span class="text-orange-300">Janek Winkler</span> a passionate gameplay
      and tools engineer who loves to design and develop game-focused applications.
      Here you can find my projects and games.
    </Window>

    <Window client:load>
      <ul class="flex flex-col gap-2">
        <li class="flex items-center gap-2 leading-none">
          <Icon class="h-6" name="mdi:github" />
          <a
            href="https://github.com/janekx21"
            class="hover:underline decoration-2"
          >
            Github
          </a>
        </li>
        <li class="flex items-center gap-2 leading-none">
          <Icon class="h-6" name="mdi:email" />
          <a
            href="mailto:janekx21[insert_at]gmail.com"
            class="hover:underline decoration-2"
          >
            Email
          </a>
        </li>
        <li class="flex items-center gap-2 leading-none">
          <Icon class="h-6" name="cib:itch-io" />
          <a
            href="https://janekx21.itch.io/"
            class="hover:underline decoration-2"
          >
            Itch.io
          </a>
        </li>
      </ul>
    </Window>
  </div>

  <!-- Other windows -->

  <div
    class="col-span-full grid grid-cols-1 lg:grid-cols-[2fr_3fr] gap-10 lg:gap-20"
  >
    <!-- Owl MS -->
    <Window client:load>
      <div class="flex flex-col h-full">
        <div class="basis-1/2 flex gap-3 items-center">
          <span>
            Language server for the manchester syntax of the web ontology
            language OWL. It is written in rust and has its own tree-sitter
            grammar.
          </span>
        </div>

        <a
          class="fixed top-0 right-0 p-4"
          href="https://github.com/janekx21/owl-ms-language-server/"
        >
          <Icon class="h-6" name="bi:box-arrow-up-right" />
        </a>
      </div>
    </Window>

    <!-- Neo Train -->
    <Window client:load>
      <div class="flex flex-col h-full">
        <div class="basis-1/2 flex justify-center items-center">
          <NeoTrain />
        </div>
        <div class="bg-transparent h-0.5 my-2 rounded"></div>
        <div class="basis-1/2 flex gap-3 items-center">
          <span>
            A touch typing trainer written in <a
              class="hover:underline decoration-2"
              href="https://elm-lang.org/">Elm</a
            >. It is designed to help you learn <a
              class="hover:underline decoration-2"
              href="https://www.neo-layout.org/">Neo</a
            > by dictation and has special lessons for this purpose.
          </span>
        </div>

        <a
          class="fixed top-0 right-0 p-4"
          href="https://neo-train.lamdera.app/"
        >
          <Icon class="h-6" name="bi:box-arrow-up-right" />
        </a>
      </div>
    </Window>
  </div>

  <div class="col-span-full mx-auto">
    <Window client:load>
      <span class="px-12">My Games</span>
    </Window>
  </div>

  <div
    class="col-span-full grid grid-cols-1 lg:grid-cols-[2fr_3fr] gap-10 lg:gap-20"
  >
    <Window client:load>
      <div class="flex flex-row h-full">
        <div class="basis-1/2 flex flex-col justify-center">
          <img src="ace_of_space.png" width="520" height="757" />
        </div>
        <div class="bg-transparent w-0.5 mx-2 rounded"></div>
        <div class="basis-1/2 flex flex-col gap-3 justify-center">
          <span
            >Two player arcade shooter with cute graphics build with unity</span
          >
        </div>
        <a
          class="fixed top-0 right-0 p-4"
          href="https://janekx21.itch.io/ace-of-space"
        >
          <Icon class="h-6" name="bi:box-arrow-up-right" />
        </a>
      </div>
    </Window>

    <Window client:load>
      <div class="flex flex-col lg:flex-row h-full gap-3">
        <div class="min-w-max flex justify-center items-center">
          <img
            src="brickit.png"
            style="width: 256px; height: 256px;"
            class="border-8 border-black rounded-lg"
          />
        </div>
        <div class="bg-transparent h-0.5 lg:h-auto lg:w-0.5 mx-2 rounded"></div>
        <div class="grow flex flex-col justify-center text-pretty">
          Exciting Android puzzle game that challenges you. Navigate a ball
          through a maze-like level by clearing blocks. Upload custom levels to
          keep the fun going! Compete against your friends and show off your
          skills.
        </div>
        <a
          class="fixed top-0 right-0 p-4"
          href="https://github.com/janekx21/BrickIt"
        >
          <Icon class="h-6" name="bi:box-arrow-up-right" />
        </a>
      </div>
    </Window>
  </div>

  <Window client:load>
    <div class="flex flex-col h-full">
      <div class="basis-1/2 flex justify-center min-w-0">
        <TheCoffice />
      </div>
      <div class="bg-transparent h-0.5 my-2 rounded"></div>
      <div class="basis-1/2 flex gap-4 items-center">
        Topdown zombie shooter with pixel look build with Unity
      </div>
    </div>
  </Window>

  <Window client:load>
    <div class="flex flex-row h-full">
      <div class="basis-1/2 flex justify-center">
        <Lizard client:load />
      </div>
      <div class="bg-transparent w-0.5 mx-2 rounded"></div>
      <div class="basis-1/2 flex flex-col justify-center">
        <b>Lizard World</b>
        Online mulitplayer battle game in which you fight other lizards with swords
        and fireballs.
      </div>
      <a
        class="fixed top-0 right-0 p-4"
        href="https://github.com/janekx21/lizard-world/"
      >
        <Icon class="h-6" name="bi:box-arrow-up-right" />
      </a>
    </div>
  </Window>

  <div
    class="col-span-full grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-20 items-center"
  >
    <div class="col-span-1">
      <Window client:load>
        <div class="flex flex-row h-full">
          <div class="basis-1/2 flex justify-center">
            <img src="catoffel_mono.svg" />
          </div>
          <!-- <div class="bg-white/20 w-0.5 mx-2 rounded"></div> -->
          <div class="basis-1/2 flex flex-col justify-center">
            <b>Catoffel</b> A two player explorative PC game
          </div>
        </div>
      </Window>
    </div>

    <div class="col-span-2">
      <Window client:load>
        <div class="flex flex-row h-full">
          <div
            class="basis-1/2 flex justify-center bg-cover rounded-xl"
            style="background-image: url('cultist_cleanup.png')"
          >
          </div>
          <div class="bg-transparent w-0.5 mx-2 rounded"></div>
          <div class="basis-1/2 flex flex-col justify-center">
            <b>Cultist Cleanup 1871</b>

            There was an event that was bloody, and the cultists have hired you.
            But that's all you know, better not ask any further questions.
            Collect a friend or two and clean this up. You have a strict time
            limit, so go go go.
          </div>
          <a
            class="fixed top-0 right-0 p-4"
            href="https://janekx21.itch.io/cultist-cleanup-1871"
          >
            <Icon class="h-6" name="bi:box-arrow-up-right" />
          </a>
        </div>
      </Window>
    </div>
  </div>
  <div class="h-64"></div>
</Layout>
