---
import Layout from "../components/Layout.astro";
---

<Layout title="Portfolio">
  <main>
    <img
      src="/background.svg"
      style="position: fixed; z-index: -1; width: 100vw; height: 100vh;"
    />
    <div
      class="container h-screen mx-auto px-20 py-32 grid grid-rows-[35px_3fr_100px_40px_2fr] grid-cols-[30px_3fr_30px_100px_2fr] gap-4"
    >
      <div
        class="border border-gray-300 bg-dark-blue backdrop-blur p-4 text-lg col-span-2 row-span-2"
      >
        Hello!<br /><br />
        I'm Janek Winkler a passionate professional gameplay and tools engineer who
        loves to design and develop game-focused applications.
      </div>

      <div
        class="border border-gray-300 bg-dark-blue backdrop-blur p-4 text-lg col-span-1 row-span-3 col-end-6 row-start-2"
      >
        <ul>
          <li>Github</li>
          <li>Email</li>
          <li>Telegram</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>

      <div
        class="border border-gray-300 bg-dark-blue backdrop-blur p-4 text-lg col-span-2 row-span-2 col-start-2 row-end-6 flex gap-6"
      >
        <div class="basis-1/2 flex justify-center"><img src="catoffel_mono.svg"/></div>
        <div class="bg-orange w-0.5"></div>
        <div class="basis-1/2 flex flex-col justify-center">Catoffel <br> Explorative <br> Two player PC Game</div>
      </div>
    </div>
  </main>
</Layout>
