---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
	<article
		class="border border-white/20 rounded-3xl bg-dark-blue p-4 col-span-2"
	>
		<div class="hero-image">
			{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
		</div>
		<div class="">
			<div class="">
				<div class="px-8 border rounded-full">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</Layout>
