---
import HeadLink from "./HeadLink.astro";
---

<div
  class="fixed bg-black rounded-full p-2 self-center flex z-10 gap-3 lg:w-32 lg:hover:w-64 transition-all transition-time-1000 justify-around overflow-hidden head lg:text-transparent"
>
  <HeadLink url="/">Home</HeadLink>
  <HeadLink url="/games">Games</HeadLink>
  <HeadLink url="/art">Art</HeadLink>
  <HeadLink url="/blog">Blog</HeadLink>
  <HeadLink url="/work">Work</HeadLink>
  <span
    class="dots text-transparent z-[-10] lg:text-white absolute select-none transition-all"
    >...</span
  >
</div>
<div class="h-10"></div>

<style>
  .head {
  }
  .head:hover {
    color: white;
  }

  .dots {
    transform: scaleX(1);
  }

  .head:hover .dots {
    color: black;
    transform: scaleX(3);
  }
</style>
