---
import HeadLink from "./HeadLink.astro";
---

<div
  class="fixed bg-black rounded-full p-2 self-center flex z-10 w-32 hover:w-64 transition-all transition-time-1000 justify-around overflow-hidden head"
>
  <HeadLink url="/">Home</HeadLink>
  <HeadLink url="/games">Games</HeadLink>
  <HeadLink url="/art">Art</HeadLink>
  <HeadLink url="/blog">Blog</HeadLink>
  <HeadLink url="/work">Work</HeadLink>
  <span class="dots text-white absolute select-none transition-all">...</span>
</div>

<style>
  .head {
    color: transparent;
  }
  .head:hover {
    color: white;
  }

  .dots {
    z-index: -10;
    transform: scaleX(1);
  }

  .head:hover .dots {
    color: black;
    transform: scaleX(3);
  }
</style>
