---
import { ViewTransitions } from "astro:transitions";
import { Icon } from "astro-icon";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <ViewTransitions />
    <script>
      let root = document.querySelector(":root") as HTMLElement;
      let mapping = {
        "window-border-radius": "--border-radius",
        "window-border-width": "--border-width",
        "window-box-shadow-spread": "--box-shadow-spread",
      };

      Object.entries(mapping).forEach(([id, style]) => {
        document.getElementById(id).addEventListener("input", (event) => {
          let { value } = event.target as HTMLInputElement;
          root.style.setProperty(style, `${value}px`);
        });
      });
    </script>
  </head>
  <body>
    <div
      class="h-screen w-screen fixed bg-cover -z-10"
      style="background-image: url('/background.svg');"
    >
    </div>
    <div class="min-h-screen w-screen flex flex-col p-1 font-mono">
      <div
        class="flex justify-between opacity-80 hover:opacity-100 transition-opacity"
      >
        <div
          class="bg-dark-blue backdrop-blur window p-1 self-start flex gap-4 px-2"
        >
          <Icon class="h-6 text-green -ml-1" pack="mdi" name="circle" />
          <a class="hover:underline decoration-2" href="/">index</a>
          <a class="hover:underline decoration-2" href="work">work</a>
          <a class="hover:underline decoration-2" href="art">art</a>
        </div>

        <div
          class="bg-dark-blue backdrop-blur window border-white/20 p-1 self-start flex gap-4"
        >
          <Icon class="h-6" pack="mdi" name="clock-time-eight" />
        </div>

        <div
          class="bg-dark-blue backdrop-blur window border-white/20 p-1 self-start flex gap-2 px-2"
        >
          <Icon class="h-6 text-white -ml-1" pack="mdi" name="circle" />
          <Icon class="h-6 text-white/20" pack="mdi" name="circle" />
          <Icon class="h-6 text-white/20" pack="mdi" name="circle" />
          <div>|</div>
          <Icon class="h-6" pack="mdi" name="battery-80" />
          <Icon class="h-6" pack="mdi" name="bell-badge" />
          <Icon class="h-6" pack="mdi" name="calendar-minus" />
          <Icon class="h-6" pack="mdi" name="clipboard-multiple" />
        </div>
      </div>

      <main
        class="container mx-auto grow px-20 py-20 grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-10 lg:gap-20"
        transition:animate="slide"
      >
        <slot />
      </main>
    </div>

    
    <div class="p-5 flex gap-10 bg-black relative">
      <noscript>
        <div
          class="absolute inset-0 bg-black/10 flex justify-center items-center backdrop-blur"
        >
          This will not work without javascript
        </div>
      </noscript>
      <b>Style Settings</b>
      <label class="flex gap-2">
        Border Radius
        <input
          type="range"
          min="0"
          max="40"
          value="0"
          id="window-border-radius"
        />
      </label>
      <label class="flex gap-2">
        Border Width
        <input
          type="range"
          min="0"
          max="10"
          value="1"
          id="window-border-width"
        />
      </label>
      <label class="flex gap-2">
        Shadow Spread
        <input
          type="range"
          min="0"
          max="40"
          value="0"
          id="window-box-shadow-spread"
        />
      </label>
    </div>

    <style is:global>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
        --color-text: hsl(12, 5%, 96%);
        --color-bg: #1e1e1e;

        --border-radius: 0px;
        --border-width: 1px;
        --box-shadow-spread: 0px;
        --color-border: rgba(255, 255, 255, 0.2);
      }
      html {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
        min-height: 100%;
      }
      body {
        margin: 0;
      }
      .window {
        border-radius: var(--border-radius);
        border-width: var(--border-width);
        box-shadow: 0px calc(var(--box-shadow-spread) / 2)
          var(--box-shadow-spread) 0 rgba(0, 0, 0, 0.4);
        border: calc(--color-border);
        backdrop-filter: blur(20px);
      }
    </style>
  </body>
</html>
